<!DOCTYPE html>
<html>
<head>
  <title>Administration</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= render "shared/admin/navbar" %>
  <%= render "shared/flash_messages" %>

  <div class="container mx-auto mt-8">
    <%= yield %>
  </div>
</body>
</html>
